@font-face{
  font-family: 'Museo Sans 900';
  src: url('font/MuseoSans_900.otf');
}

@font-face{
  font-family: 'Museo Sans 300';
  src: url('font/MuseoSans_300.otf');
}

a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  color: #333;
}

html {
  min-width : 100%;
  min-height : 100%;
}

body {
  width : 1024px;
  height : 704px;
  background-color : rgb(243, 243, 243);
  font-family: 'Museo Sans 300';
  font-size: 17px;
  overflow: hidden;
  color: #000;
}

img{
  max-width: 30px;
  max-height: 30px;
}

table.petronas thead tr .tablesorter-headerAsc,
table.petronas thead tr .tablesorter-headerDesc,
table.petronas thead tr .tablesorter-header{
  background-repeat : no-repeat;
  background-position : center right;
}

table.petronas thead tr .tablesorter-headerDesc, 
table.petronas thead tr .tablesorter-headerAsc {
  background-color : #80cabb;
}

table.petronas thead tr .tablesorter-header{
  background-image : url(../images/sort_btn.png);
}

table.petronas thead tr .tablesorter-headerAsc {
  background-image : url(../images/up.png);
}
table.petronas thead tr .tablesorter-headerDesc {
  background-image : url(../images/down.png);
}
tr:nth-child(odd){
background-color: #fff;
}
tr:nth-child(even){
background-color: #f3f3f3;
}

tr:hover{
  background-color:#CDFFEE;
}

.petronas thead, .petronas tbody{
  display: block;
}

.petronas tbody{
  height: 610px;
  display: block;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
	
.petronas td{
  height: 30px;
}

table{
  width: 98%;
  margin: 10px 10px 0 10px;
}

th{
  background-color: #02AD9D;
  color: #fff;
  height: 44px;
  font-weight: normal;
  text-align: center;
}

td{
  height: 44px;
  padding: 3px 8px;
}
.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
}

	
.hidden-submit {
  border: 0 none;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}


.form-control:focus {
border-color: #ccc;
outline: 0;
-webkit-box-shadow: none;
box-shadow: none;

/*  bootstrap style 

border-color: rgba(82, 168, 236, 0.8);
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
 */
}

/* bookmark */
 .bookmark {
  height: 40px;
  width: 0px;
  border: 15px solid;
  transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s; /* Safari */
}

.notBookmarked{
  border-color: #a6a6a6 #a6a6a6 transparent #a6a6a6;
}

.bookmarked{
  border-color: #ffbf00 #ffbf00 transparent #ffbf00;
}


.no-result{
margin: 20px;
color: red;
}