
/*************************
 *   Top Positions
 *************************/
	.popover.top {
			margin-top:5px;
		}
		.popover.left {
			margin-left:30px;
			margin-left:30px;
		}
		.popover.bottom {
			margin-top:-5px;
		}
		.popover.right {
			margin-left:-30px;
		}
/** Top Left **/
.popover.topLeft {
  margin-top: 5px;
}

.popover.topLeft .arrow {
  bottom: -10px;
  /* left: 25%; */
  left: 53.5%;
  margin-left: -10px;
  border-width: 10px 10px 0;
  border-top-color: #ffffff;
}

.popover.topLeft .arrow:after {
  border-width: 11px 11px 0;
  border-top-color: #00AE9D;
  bottom: -1px;
  left: -11px;
}

/** Top Right **/
.popover.topRight {
  margin-top: 5px;
}

.popover.topRight .arrow {
  bottom: -10px;
  /* left: 75%; */
  left: 84%;
  margin-left: -10px;
  border-width: 10px 10px 0;
  border-top-color: #ffffff;
}

.popover.topRight .arrow:after {
  border-width: 11px 11px 0;
  border-top-color: #00AE9D;
  bottom: -1px;
  left: -11px;
}

/** Top Right 2**/
.popover.topRight2 {
  margin-top: 5px;
}

.popover.topRight2 .arrow {
  bottom: -10px;
  left: 95%;
  margin-left: -10px;
  border-width: 10px 10px 0;
  border-top-color: #ffffff;
}

.popover.topRight2 .arrow:after {
  border-width: 11px 11px 0;
  border-top-color: #00AE9D;
  bottom: -1px;
  left: -11px;
}

/** Top Right Schedule**/
.popover.topRightSchedule {
  margin-top: 5px;
  /* margin-top: 40px; */
}

.popover.topRightSchedule .arrow {
  bottom: -10px;
  left: 65%;
  margin-left: -10px;
  border-width: 10px 10px 0;
  border-top-color: #ffffff;
}

.popover.topRightSchedule .arrow:after {
  border-width: 11px 11px 0;
  border-top-color: #00AE9D;
  bottom: -1px;
  left: -11px;
}


/*************************
 *   Right Positions
 *************************/

/** Right Top **/
.popover.rightTop {
  margin-left: -30px;
}

.popover.rightTop .arrow {
  top: 25%;
  left: -10px;
  margin-top: -10px;
  border-width: 10px 10px 10px 0;
  border-right-color: #ffffff;
}

.popover.rightTop .arrow:after {
  border-width: 11px 11px 11px 0;
  border-right-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  left: -1px;
}

/** Right Bottom **/
.popover.rightBottom {
  margin-left: -30px;
}

.popover.rightBottom .arrow {
  top: 75%;
  left: -10px;
  margin-top: -10px;
  border-width: 10px 10px 10px 0;
  border-right-color: #ffffff;
}

.popover.rightBottom .arrow:after {
  border-width: 11px 11px 11px 0;
  border-right-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  left: -1px;
}

/*************************
 *   Bottom Positions
 *************************/

/** Bottom Left **/
.popover.bottomLeft {
  margin-top: -5px;
}

.popover.bottomLeft .arrow {
  top: -10px;
  /* left: 25%; */
  left:  53.5%;
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-bottom-color: #ffffff;
}

.popover.bottomLeft .arrow:after {
  border-width: 0 11px 11px;
  border-bottom-color: #00AE9D;
  top: -1px;
  left: -11px;
}


/** Bottom Right **/
.popover.bottomRight {
  margin-top: -5px;
}

.popover.bottomRight .arrow {
  top: -10px;
  left: 72%;
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-bottom-color: #ffffff;
}

.popover.bottomRight .arrow:after {
  border-width: 0 11px 11px;
  border-bottom-color: #00AE9D;
  top: -1px;
  left: -11px;
}

/* Bottom Right 2 */

.popover.bottomRight2 {
  margin-top: -5px;
}

.popover.bottomRight2 .arrow {
  top: -10px;
  left: 84.5%;
  /*left: 91%;*/
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-bottom-color: #ffffff;
}

.popover.bottomRight2 .arrow:after {
  border-width: 0 11px 11px;
  border-bottom-color: #00AE9D;
  top: -1px;
  left: -11px;
}

/* Bottom Right First */

.popover.bottomRightFirst {
  margin-top: -5px;
}

.popover.bottomRightFirst .arrow {
  top: -10px;
  left: 92%;
  /*left: 91%;*/
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-bottom-color: #ffffff;
}

.popover.bottomRightFirst .arrow:after {
  border-width: 0 11px 11px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -1px;
  left: -11px;
}

/* Bottom Right Schedule */

.popover.bottomRightSchedule {
  margin-top: -5px;
}

.popover.bottomRightSchedule .arrow {
  top: -10px;
  left: 50%;
  /*left: 91%;*/
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-bottom-color: #ffffff;
}

.popover.bottomRightSchedule .arrow:after {
  border-width: 0 11px 11px;
  border-bottom-color: #00AE9D;
  top: -1px;
  left: -11px;
}

/* Bottom Right Description */

.popover.bottomRightDescription {
  margin-top: -5px;
}

.popover.bottomRightDescription .arrow {
  top: -10px;
  left: 95%;
  /*left: 91%;*/
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-bottom-color: transparent;
}

.popover.bottomRightDescription .arrow:after {
  border-width: 0 11px 11px;
  border-bottom-color: transparent;
  top: -1px;
  left: -11px;
}

/* Bottom Right Description PGD Level 2*/

.popover.bottomRightDescriptionPGD2 {
  margin-top: -5px;
}

.popover.bottomRightDescriptionPGD2 .arrow {
  top: -10px;
  left: 95%;
  /*left: 91%;*/
  margin-left: -10px;
  border-width: 0 10px 10px;
  /* border-bottom-color: #ffffff; */
  border-bottom-color: transparent;
}

.popover.bottomRightDescriptionPGD2 .arrow:after {
  border-width: 0 11px 11px;
  border-bottom-color: transprent;
  top: -1px;
  left: -11px;
}

/*************************
 *   Left Positions
 *************************/

/** Left Top **/
.popover.leftTop {
  margin-left: 30px;
}

.popover.leftTop .arrow {
  top: 25%;
  right: -10px;
  margin-top: -10px;
  border-width: 10px 0 10px 10px;
  border-left-color: #ffffff;
}

.popover.leftTop .arrow:after {
  border-width: 11px 0 11px 11px;
  border-left-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  right: -1px;
}


/** Left Bottom **/
.popover.leftBottom {
  margin-left: 30px;
}

.popover.leftBottom .arrow {
  top: 75%;
  right: -10px;
  margin-top: -10px;
  border-width: 10px 0 10px 10px;
  border-left-color: #ffffff;
}

.popover.leftBottom .arrow:after {
  border-width: 11px 0 11px 11px;
  border-left-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  right: -1px;
}


/** Manpower placement */
/* Bottom Right 3 */

.popover.bottomRight3 {
  margin-top: -5px;
}

.popover.bottomRight3 .arrow {
  top: -10px;
  left: 95%;
  /*left: 91%;*/
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-bottom-color: #ffffff;
}

.popover.bottomRight3 .arrow:after {
  border-width: 0 11px 11px;
  border-bottom-color: #00AE9D;
  top: -1px;
  left: -11px;
}

/** Top Right 3**/
.popover.topRight3 {
  margin-top: 5px;
}

.popover.topRight3 .arrow {
  bottom: -10px;
  left: 95%;
  margin-left: -10px;
  border-width: 10px 10px 0;
  border-top-color: #ffffff;
}

.popover.topRight3 .arrow:after {
  border-width: 11px 11px 0;
  border-top-color: #00AE9D;
  bottom: -1px;
  left: -11px;
}
